# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Test_Subjects\Coffee-machine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
